<div class="clear"></div>
<div class="container_16">
  <hr class="footer" />
</div>
<div class="container_16" id="footer">  
  <address>Copyright (C) 2012 <a href="mailto:phyten.obr@gmail.com" title="メール先">Mikiyasu Obara</a>, All Rights Reserved.</address>
</div>
