    <div class="grid_3 alpha">
      <h2>スポンサーリンク</h2>
      <!-- アドセンス -->
      <script type="text/javascript"><!--
					google_ad_client = "pub-3481475867852629";
					/* 120x600, 作成済み 10/10/29 */
					google_ad_slot = "4981572010";
					google_ad_width = 120;
					google_ad_height = 600;
					//-->
      </script>
      <script type="text/javascript"
	      src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
      </script>
      
      <a href="http://px.a8.net/svt/ejp?a8mat=1ZRB3G+EY7VN6+INY+60WN6" target="_blank">Yahoo!リスティング広告</a>
      <img border="0" width="1" height="1" src="http://www13.a8.net/0.gif?a8mat=1ZRB3G+EY7VN6+INY+60WN6" alt="">
    </div>
