<!-- 右側 -->
<div class="grid_3 omega">
<h2>サイドメニュー</h2>
<ul class="side">
  <li><%= link_to "トップへ戻る", :controller => "rankings", :action => "index" %></li>
</ul>
<div class="grid_3 alpha">
<h3>音ゲー</h3>
</div>
<div class="grid_3 alpha">
<h3>ランキング</h3>
<p>ただいま他のランキングも鋭意作成中です。</p>
</div>
</div>
